### Classification Notebook

In [1]:
from math import sqrt
from scipy import stats
from pydataset import data
from datetime import datetime

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from env import host, user, password

##### In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
iris_df = data('iris')
iris_df.head(3)  ## Question 1: Print the first three rows

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
iris_df.shape ## Question 2: Print the number of rows and columns

(150, 5)

In [6]:
iris_df.columns ## Question 3: Print the column names

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [9]:
iris_df.info() ## Question 4: Print the data types of each column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [12]:
iris_df.describe() ## Question 5: Print out the sumarry statistics of each numeric variable

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

##### Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [13]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1NS_AqvYEsZXF2nL3Gp2PqcwCPbEUfXTq0vGZbTNe_nI/edit#gid=1023018493'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_excel = pd.read_csv(csv_export_url) 
df_excel

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependants,start_date,average_monthly,internet_description,contract_description,phone_description,only_phone,only_internet
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,$65.60,...,True,True,3,8/10/2020,$65.60,DSL,1 Year,One Line,False,False
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,$59.90,...,True,True,0,8/10/2020,$59.90,DSL,Month-to-Month,Two or More Lines,False,False
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,$73.90,...,True,True,0,1/17/2021,$73.90,Fiber Optic,Month-to-Month,One Line,False,False
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,$98.00,...,True,True,1,4/23/2020,$98.00,Fiber Optic,Month-to-Month,One Line,False,False
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,$83.90,...,True,True,1,2/5/2021,$83.90,Fiber Optic,Month-to-Month,One Line,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,$55.15,...,True,True,0,3/29/2020,$55.15,DSL,1 Year,One Line,False,False
7039,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,$85.10,...,True,True,1,7/13/2019,$85.10,Fiber Optic,Month-to-Month,Two or More Lines,False,False
7040,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,$50.30,...,True,True,0,3/17/2021,$50.30,DSL,Month-to-Month,One Line,False,False
7041,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,$67.85,...,True,True,3,9/7/2015,$67.85,DSL,2 Year,One Line,False,False
7042,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,$59.00,...,True,False,3,2/17/2016,$59.00,DSL,2 Year,No Phone Service,False,True

In [15]:
df_excel_sample = df_excel.head(100)
df_excel_sample.head(5) ##Question 1: create a sample of the first 100 rows

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_internet,has_phone_and_internet,partner_dependants,start_date,average_monthly,internet_description,contract_description,phone_description,only_phone,only_internet
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,$65.60,...,True,True,3,8/10/2020,$65.60,DSL,1 Year,One Line,False,False
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,$59.90,...,True,True,0,8/10/2020,$59.90,DSL,Month-to-Month,Two or More Lines,False,False
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,$73.90,...,True,True,0,1/17/2021,$73.90,Fiber Optic,Month-to-Month,One Line,False,False
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,$98.00,...,True,True,1,4/23/2020,$98.00,Fiber Optic,Month-to-Month,One Line,False,False
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,$83.90,...,True,True,1,2/5/2021,$83.90,Fiber Optic,Month-to-Month,One Line,False,False

In [16]:
df_excel_sample.shape

(100, 26)

In [19]:
df_excel.shape ## Question 2: Print the number of rows of your original dataframe

(7043, 26)

In [27]:
df_excel.columns[0:5] ## Question 3: Print the first five column names

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [28]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7043 non-null   object
 1   gender                  7043 non-null   object
 2   is_senior_citizen       7043 non-null   int64
 3   partner                 7043 non-null   object
 4   dependents              7043 non-null   object
 5   phone_service           7043 non-null   int64
 6   internet_service        7043 non-null   int64
 7   contract_type           7043 non-null   int64
 8   payment_type            7043 non-null   object
 9   monthly_charges         7043 non-null   object
 10  total_charges           7032 non-null   object
 11  churn                   7043 non-null   object
 12  monthly tenure          7043 non-null   float64
 13  is_female               7043 non-null   bool
 14  has_churned             7043 non-null   bool
 15  has_phone               7043 non-null   bool
 16  has_internet            7043 non-null   bool
 17  has_phone_and_internet  7043 non-null   bool
 18  partner_dependants      7043 non-null   int64
 19  start_date              7043 non-null   object
 20  average_monthly         7043 non-null   object
 21  internet_description    7043 non-null   object
 22  contract_description    7043 non-null   object
 23  phone_description       7043 non-null   object
 24  only_phone              7043 non-null   bool
 25  only_internet           7043 non-null   bool
dtypes: bool(7), float64(1), int64(5), object(13)
memory usage: 1.1+ MB

In [34]:
df_excel.select_dtypes(include = object).columns ## Question 4: Print out the columns that 
## have object as their data type

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'start_date',
       'average_monthly', 'internet_description', 'contract_description',
       'phone_description'],
      dtype='object')

In [42]:
df_excel.total_charges = df_excel.total_charges.astype(str)
df_excel.monthly_charges = df_excel.monthly_charges.astype(str)

In [43]:
df_excel.total_charges = df_excel.total_charges.str.replace('$','')
df_excel.total_charges = df_excel.total_charges.str.replace(',','').astype(float)
df_excel.monthly_charges = df_excel.monthly_charges.str.replace('$','')
df_excel.monthly_charges = df_excel.monthly_charges.str.replace(',','').astype(float)
df_excel.select_dtypes(include = float).columns ## Cleaning charges columns into floats

Index(['monthly_charges', 'total_charges', 'monthly tenure'], dtype='object')

In [46]:
total_charges_range = df_excel.total_charges.max() - df_excel.total_charges.min()
monthly_charges_range = df_excel.monthly_charges.max() - df_excel.monthly_charges.min()
total_charges_range, monthly_charges_range 

## Question 5: display the ranges for the 2 numerical columns

(8666.0, 100.5)

##### Read the data from this google sheet into a dataframe, df_google

In [48]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

In [49]:
df_google.head(3) ## Question 1: Print the first three rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [51]:
df_google.shape ## Question 2: Print the number of rows and columns

(891, 12)

In [52]:
df_google.columns ## Question 3: Print the column names

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [54]:
df_google.info() ## Question 4: Print the datatypes of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [55]:
df_google.describe() ## Question 4: Print the summary statistics for each numeric 
## variable

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [67]:
## Printing out the unique values for each categorical variable below

In [60]:
df_google.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [61]:
df_google.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [62]:
df_google.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [63]:
df_google.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [74]:
df_google.select_dtypes(include='O').nunique()

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64